@model PGMG.Models.Viajes
@using Microsoft.AspNet.Identity
@using App.Extensions

@{
    ViewBag.Title = "Gestionar viaje";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <body class="w3">
        <div class="centrar">
            <h4>@ViewBag.Title</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ViajesId)

            <div class="form-group">
                @Html.HiddenFor(model => model.ClienteId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.NombreCliente, htmlAttributes: new { @class = "control-label" })
                <br />
                <input type="text" id="nombre" @Html.EditorFor(model => model.NombreCliente, new { htmlAttributes = new { @class = "login" } })
                <br />
                @Html.ValidationMessageFor(model => model.NombreCliente, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaDesde, htmlAttributes: new { @class = "control-label" })
                <br />
                @Html.TextBoxFor(model => model.FechaDesde, "{0:dd/MM/yyyy}",
                new { @class = "login datepicker"})
                <br />
                @Html.ValidationMessageFor(model => model.FechaDesde, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaHasta, htmlAttributes: new { @class = "control-label" })
                <br />
                @Html.TextBoxFor(model => model.FechaHasta, "{0:dd/MM/yyyy}",
                new { @class = "login datepicker"})
                <br />
                @Html.ValidationMessageFor(model => model.FechaHasta, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label" })
                <br />
                @Html.DropDownListFor(model => model.Usuario, ViewData["usuarioactual"] as SelectList,
                new { @class = "login" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label" })
                <br />
                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "login" } })
            </div>

            <div class="form-group">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.Confirmado)
                    @Html.LabelFor(m => m.Confirmado)
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.Realizado)
                    @Html.LabelFor(m => m.Realizado)
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Modificar" id="submit" class="btn btn-default" />
                <a href="@Url.Action("Delete", new { id= Model.ViajesId })" class="btn btn-default"
                   data-target="#modal-eliminar" data-toggle="modal">
                    Eliminar
                </a>
            </div>
        </div>
    </body>
}
<div class="modal fade" id="modal-eliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/ValidarAlCerrar.js"></script>
    <script>
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            language: 'es'
        });

        $('#nombre')
        .autocomplete({
            source: '@Url.Action("Lista", "Clientes")', minLength: 3,
        select: function (event, ui) {
        $('#ClienteId').val(ui.item.id);
        $('#nombre').val(ui.item.value);
        return false;
        }
        });
    </script>
}
