@using App.Extensions
<head>
    <link rel="stylesheet" href="~/Content/animate.css">
</head>


@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
<div id="animatedElement" class="centrar animated swing">
    <br />
    <br />
    <br />
    <H4>
        Hola @Html.ActionLink(User.Identity.GetNombreCompleto(),
   "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }), bienvenidx a
    </H4>
    <br />
    <img src="~/Content/Imagenes/Logocompleto.png" />
    <br />
    <br />
    <br />
    <H4>@DateTime.Now.ToLongDateString()</H4>

</div>

}


@section Scripts{
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/locale/es.js")"></script>
    
}