@{
    ViewBag.Title = "Confirmación de restablecimiento de contraseña";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Proyecto de Tesis">
    <meta name="author" content="Maria Laura Cervigni">
    @*<title>Simple Sidebar - Start Bootstrap Template</title>*@
    <!-- Bootstrap core CSS -->
    <link href="~/Content/Inicio2.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/Inicio.css" rel="stylesheet">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="@Url.Content("~/Content/Imagenes/favicon.ico")" />
    <title>@ViewBag.Title | PGMG</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="centrar">
        <br />
        <hr />
        <h4>@ViewBag.Title</h4>
        <hr />
        <br />
        <div>
            <p>
                Se restableció la contraseña. @Html.ActionLink("Haga clic aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
